@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

a:active { 
  color: orangered;
}

.nav-bar {
  display: flex;
  background-color: rgb(33, 105, 33);
  padding: 10px;
  justify-content: center;
  gap: 32px;
  color: white;
}

h2 {
  font-family: "Oswald", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

.new-post {
    width: 50%;
}

.new-post__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.tags-container {
  display: flex;
  gap: 12px;
}

label {
  margin-right: 6px;
}