@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

a:active { 
  color: orangered;
}

.btn-like {
  background-color:steelblue;
  color:white;
}

.nav-bar {
  display: flex;
  background-color: rgb(33, 105, 33);
  padding: 10px;
  justify-content: center;
  gap: 32px;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
}

.post {
    width: 60%;
}

.post-content__image img {
    width: 100%;
}

.post-details__details {
    display: flex;
    align-items: center;
    gap: 16px;
}

.post-comments {
    width: 60%;
    margin-top: 20px;
}

.btn-like {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 6px;
}

.comment {
  margin: 10px 0;
}

#comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.post-tags {
  display: inline-flex;
  gap: 4px;
}

#btn-edit-post {
  width: 50%;
  padding: 5px;
  background-color: dodgerblue;
}

#btn-delete-post {
  width: 50%;
  padding: 5px;
  background-color:firebrick;
}

.post-comments__actions {
  display: flex;
}