@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

a:active { 
  color: orangered;
}

h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.nav-bar {
  display: flex;
  background-color: rgb(33, 105, 33);
  padding: 10px;
  justify-content: center;
  gap: 32px;
  color: white;
}

.post:hover {
  color: orange;
}

.filters {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}

.filters__tags {
  display: flex;
  align-items: center;
  gap: 6px;
}

button {
  padding: 5px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.featured-posts {
  width: 80%;
}

.featured-posts__posts,
.remaining-posts__posts,
.all-posts__posts,
.filtered-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
}

.post {
  width: 350px;
  display: block;
}

.post__image {
  width: 100%;
}

.post__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post__body {
  background-color: rgb(33, 105, 33);
}

.post__info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.post__title {
  padding-left: 10px;
  padding-top: 5px;
}

.remaining-posts {
  width: 80%;
}

.all-posts {
  width: 80%;
}

.filtered-posts {
  margin-top: 10px;
  width: 80%;
}